<!DOCTYPE html>
<html>
   <head>
      <title>HTML img Tag</title>
   </head>

   <script>
    function getInputValue() {
      // Selecting the input element and get its value 
      let inputVal = document.getElementById("image_id").value;
      console.log(inputVal)
      
    }
  </script>

   <body>
    <h2 align='center'>FALLING ROCKS</h2>
 
    <label for="name">Enter an image ID:</label>
    <input type="text" id="image_id" name="input" >
    
    <script>
      const inputEle = document.getElementById('image_id');
      inputEle.addEventListener('keyup', function(e){
        var key = e.which || e.keyCode;
        if (key == 13) { //ENTER CODE
          let inputVal = document.getElementById("image_id").value;
          
          input_image = document.getElementById("input_image")
          input_image.src =  "../static/images/"+inputVal+'.png'
          //console.log(input_image.src)
        }
      });
    </script>

    <div align="center">
        <h1>You chose</h1>
            <img id='input_image' src = "../static/images/{{img_1}}">
        </div>
    <button id='fall_button' onclick="invertColors();" type="button">FALL!</button>

    <script>
      function invertColors(data) {
  for (var i = 0; i < data.length; i+= 4) {
    data[i] = data[i] ^ 255; // Invert Red
    data[i+1] = data[i+1] ^ 255; // Invert Green
    data[i+2] = data[i+2] ^ 255; // Invert Blue
  }
}

function onClick() {
  var imageData = context.getImageData(0, 0, canvas.width, canvas.height);
  
  invertColors(imageData.data);

  // Update the canvas with the new data
  context.putImageData(imageData, 0, 0);
}

    </script>
    <div align="center">
        <h1>RESULT</h1>
        <a href="../static/images/{{img_2}}" download>
          <img id= 'output_image'  src = "../static/images/{{img_2}}">
        </a>
    </div>
    
    <button id = 'save_image' onclick="save_image();" align="center" type="button">SAVE IMAGE</button>

    <script>
      function save_image()
      {
        var a = document.createElement("a"); //Create <a>
        
        a.href = "../static/images/{{img_2}}"; //Image Base64 Goes here
        a.download = "output.png"; //File name Here
        a.click(); //Downloaded file
      }

    </script>
   </body>
</html>